.Content {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  padding: 36px 0;

  .Title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
  }

  .Seporator {
    width: 74px;
    height: 6px;
    border-radius: 12px;
    background-color: var(--main);
    margin: 18px auto;
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px 0;
    list-style-type: none;
  }
  @media(max-width: 991px){
    .Title{
      font-size: 32px;
      max-width: 70%;
    }
    .Cards{
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      padding: 16px;
      gap: 16px;
      align-items: stretch;
    }
  }
}